.stats-preview {
  @apply flex h-screen justify-center mt-[5.5rem] mb-[10rem];

  article {
    @apply grid w-full mx-6 h-[48.75rem] grid-rows-[240px_auto] overflow-hidden rounded-xl bg-dark-desaturated-blue text-white;

    .heading {
      @apply bg-soft-violet row-start-1 col-start-1;
      img {
        @apply h-full object-cover opacity-75 mix-blend-multiply;
        content: url("@/assets/image-header-mobile.jpg");
      }
    }

    .content {
      @apply flex flex-col row-start-2 col-start-1 mx-7 mt-10 font-inter tracking-[0];

      h1 {
        @apply text-center text-heading-mobile;
      }

      p {
        @apply text-white-75 text-center mt-6;
        font-size: 15px;
        line-height: 25px;
      }

      .stats {
        @apply mt-6;
      }
    }
  }
}

@screen desktop {
  .stats-preview {
    @apply flex h-screen items-center justify-center my-0;
    article {
      @apply grid w-[1110px] h-[446px] grid-cols-[570px_540px] grid-rows-1;

      .heading {
        @apply row-start-1 col-start-2;
        img {
          content: url("@/assets/image-header-desktop.jpg");
        }
      }

      .content {
        @apply mx-[4.5rem] flex flex-col mt-[4.5rem] row-start-1 col-start-1;

        h1 {
          @apply text-heading-desktop font-semibold leading-[2.7rem] text-left;
        }

        p {
          @apply w-[22rem] mt-[1.6rem] font-medium text-white-75 leading-[25px] text-[15px] text-left;
        }

        .stats {
          @apply w-[21.9rem] mt-[4.5rem];
        }
      }
    }
  }
}
