.stats-preview {
  @apply flex h-screen items-center justify-center;
}

.card {
  @apply w-[327px] h-[870px] bg-dark-desaturated-blue text-white overflow-hidden rounded-xl;
  display: grid;
  grid-template-rows: 1fr 1fr;

  .content-container {
    @apply grid h-[50vh] border border-red-500;
    > div {
      @apply w-[413px] h-[307px] place-self-center;
      h1 {
        @apply text-4xl font-bold;

        .highlight {
          @apply text-soft-violet;
        }
      }
    }
  }

  .heading-image-container {
    //img {
    //  @apply object-cover h-full order-1;
    //  content: url("@/assets/image-header-mobile.jpg");
    //}
  }

  .statsList {
    @apply inline;
  }
}


@screen desktop {
  .card {
    @apply h-[446px] w-[1110px];
    grid-template-columns: 1fr 1fr;

    .heading-image-container {
      @apply bg-no-repeat bg-blend-multiply bg-soft-violet w-full h-full;
      background-image: url("@/assets/image-header-desktop.jpg");
      //img {
      //  @apply object-contain h-full w-full bg-blend-multiply bg-soft-violet;
      //  //content: url("@/assets/image-header-desktop.jpg");
      //}
    }
  }
}
